@model DSKviz.Models.QuizViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuizViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

    </dl>
    <br />
    <h3>Questions in this quiz</h3>

    @foreach (var item in Model.Questions)
    {
        <br />
        @Html.DisplayFor(modelItem => item.QuestionText)
        <br />
        foreach (var answer in item.Answers)
        {
            @Html.DisplayFor(modelItem => answer.IsCorrect)
            @Html.DisplayFor(modelItem => answer.AnswerText)
            <br />
        }
        @Html.Raw("<hr>")
    }

    <br />

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
